.logo {
  display: flex;
}

.logo--header {
  margin-left: 3px;

  @media (max-width: $tablet-max-width) {
    margin-right: 13px;
  }
}

.logo__full {
  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.logo__mobile {
  display: none;

  @media (max-width: $mobile-max-width) {
    display: block;
  }
}
