.page-main {
  flex: 1 0 auto;
}

.page-main__triangle-bg {
  background-image: url("../img/triangles-bg-desktop.svg");
  background-position: -62px -30px;
  overflow: hidden;
  z-index: -10;
  background-repeat: no-repeat;

  @media (max-width: $tablet-max-width) {
    background-image: url("../img/triangles-bg-tablet.svg");
    background-position: 211px 90px;
  }

  @media (max-width: $mobile-max-width) {
    background-position: -120px 653px;
  }
}
