.page-header {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.page-header__wrapper {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 33px;
  padding-bottom: 30px;

  @media (max-width: $tablet-max-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 17px;
  }
}

.page-header__link {
  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-align: center;

  &:hover,
  &:focus {
    color: $blue;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-header__link--mail {
  margin-right: 87px;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }
}

.page-header__icon {
  color: $blue;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

.page-header__link--mail .page-header__icon {
  margin-bottom: -2px;
  margin-right: 10px;

  @media (max-width: $tablet-max-width) {
    width: 25px;
    height: 25px;
    margin-top: 0;
  }
}

.page-header__link--phone {
  margin-right: 38px;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }
}

.page-header__link--phone .page-header__icon {
  margin-bottom: -4px;
  margin-right: 7px;

  @media (max-width: $tablet-max-width) {
    margin-right: 1px;
    margin-bottom: 0;
    width: 25px;
    height: 25px;
    margin-top: 0;
  }
}

.page-header__contacts {
  display: flex;
}

.page-header__list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 13px;
  max-width: 72%;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
    max-width: none;
  }
}

.page-header__item:not(:last-of-type) {
  @media (max-width: $tablet-max-width) {
    margin-right: 22px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 13px;
  }
}

.page-header__button {
  font-family: $font-title;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: none;
  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: 6px;
  width: 180px;
  height: 45px;

  &:hover,
  &:active,
  &:focus {
    border-color: $blue;
    color: $blue;
  }

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__link-text {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
